* { box-sizing: border-box }


html, body {
  height: 90%;
}


body {
  margin: 0;
  background:#fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Varela', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Quicksand', sans-serif;
  /*background:#FAFAFA;*/
  
}

.form-login__header{
text-align: center;
margin:10px;

}

#header{
  background:#fff;
  display:flex;
  padding:0 15px;
  padding-right:35px;
  border-bottom:1.3px solid #dbdbdb;
  align-items:center;
  margin:0 auto;
  justify-content:space-between;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);  
}

.icon{
 padding-right: 30px;
   background-image: url('../images/search.png');
   background-repeat: no-repeat;
   background-size: 24px 24px;
   background-position: 25px center;
   padding-left: 20px;
}


#logo{
  margin:0px;
  padding:0.5em;
  /*padding-left: 1.5em;*/
  color:#000;
  text-align: center;
  /*font-size: 40px;*/
}


#container{
  display:flex;
  /*flex-direction:column;*/
  height: 100%;
  /*background:#eee;*/
  margin:0 auto;
  align-items:center;
  justify-content:center;
  /*padding:20px;*/
  
}



.form-login{
  /*display:flex;*/
  /*background:#fff;*/
  /*border:1px solid #ddd;*/
  /*border-radius: 10px;*/
  /*height: 90%;*/
  width:400px;
  /*padding:15px;*/
  padding-top:50px;
  /*flex-direction:column;*/
  /*align-items:center;*/
  /*justify-content:space-evenly;*/
}



.form-ctrl__wrapper{
    margin: 2px 10px;
    /*width: 100%;*/
    align-items: center;
    justify-content: center;
    display: flex;

}

.form-ctrl__wrapper1{
  margin: 10px;
  width: 100%;
  justify-content: center;
  display: nn;

}

.form-ctrl{
  border:1px solid #dbdbdb;
  border-radius: 12px;
  text-align: center;
  width:100%;
  font-size: 1.5em;
  padding:10px;
  margin:8px 0;
  font-family: 'Varela', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.form-submit{
  background:#000;
  color:#fff;
  border:1px solid #333;
  font-size:1.8em;
  
}

.search{
  border:1px solid #ccc;
  font-size: 1.9em;
}

:link{
  
}



a:link {
  color:#0000fe;
  text-decoration: none;
  padding:10px;
  
}    /* unvisited link is black*/

a:visited {
  color:#0000fe;
  text-decoration: none;
  padding:10px;
} /* visited link is black (reverse the color back to black)*/
a:hover {
  color:#0000ff;
  text-decoration: none;
  padding:10px;
  
}   /* mouse over link (blue when mouse over)*/
a:active {color:#FF0000;}  /* selected link (blue in the split second which you loading the page.)*/



.form-submit:hover{
  cursor: pointer;
}

.round{
  padding:0;
  border-radius:50%;
  height:70px;
  width:70px;
  
  font-family: Varela;
  background-color: #F44336;
  color: #fff;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: none;
  box-shadow: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


#home{
  color:black;
}

.fc{
   border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.fc:focus{
 border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.fc:focus {
outline-offset: 0px !important;
outline: none !important;
}




.footer{
  display:flex;
  padding:15px;
  align-items:center;
  justify-content:center;
  border-top:1.3px solid #dbdbdb;
  font-size:1.2em;
}

.nav{
  display:flex;
  justify-content:space-between;
  /*width:340px;*/
}

.sidebar{
  width:20%;
  background:#000;
  border:#000;
  height:100%;
  /*border-right: 1px solid #ccc;*/
  
}

.label{
  height: 150px;
  /*border-bottom: 1px solid #ccc;*/
  /*border-right: 1px solid #ccc;*/
  padding: 0 20px;
}


.main{
  /*width:80%;*/
  height: 90%;
  display:flex;
  /*flex-direction:column;*/
  /*justify-content:space-evenly;*/
  padding:30px 30px 20px 60px;
  align-items:center;
  flex-wrap:wrap;
  margin:0 auto;
}

.card{
    /*width: 100%;*/
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 10px;
    padding: 10px 20px;
    background:#fff;
     /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
     transition: box-shadow 0.2s;
     
  
  /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}


@media all and (min-width: 40em) {
  .card {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .card {
    width: 30%;
    
  }
}




.card:hover{
 /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
 /*box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);*/

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    
}

.desc{
  min-height: 54px;
  margin-bottom: 10px;
}

.card__header{
  text-align:center;
  /*margin:10px;*/
  font-weight:normal;
  font-size:1.5em;
  
  display:flex;
  justify-content:space-between;
}

.card__header h7:hover{
  /*cursor:pointer;*/
}



.tag{
  margin: 10px 0px 0px;
  background:#000;
  color:#fff;
  width:fit-content;
  padding:2px 5px;
  font-size:12px;
  border:1px solid #000;
  border-radius:20px;
}

.tags{
  display:flex;
  justify-content:space-between;
}

.card-ctrl{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:50px;
}

.card-ctrl img:hover{
  cursor:pointer;
}


.date{
  margin: 10px 0px 0px;
  color:#fe0000;
  width:fit-content;
  padding:2px 0px 0px 0px;
  font-size:12px;
  font-weight: bold;
  display:flex;
}

.subtask{
  display:flex;
}

.subtask ul{
  margin-top:0px;
}

li{
  margin-bottom: 5px;
}

.date2{
  padding:5px 10px;
  border-radius: 2px;
  color:#000;
}

.task-title[done="1"]{
  text-decoration:line-through;
  color:#d3d3d3;
}

/*.main{*/
/*  padding:0 20px;*/
/*  width:100%;*/
/*}*/